.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.me {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}
.imagesSize{
    border: 1px solid gray;
    width: 400px;
    height: 300px;

}
.nokiaImgSize{
    width: 100% !important;
    height: 248px !important;
    margin: 30px 0 !important;
}